# Default values for docker-registry.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

fullnameOverride: ""
nameOverride: ""

externalDomain: "*"

expose:
  enabled: false
  # resourceType: allowed values [istio, ingress]
  resourceType: ingress

  ingress:
    annotations: {}
    labels: {}
    ingressClassName: ""

  istio:
    gateway:
      enabled: true
      name: incloud-istio-gateway
      istioLabelsSelector: {} # required value!
        # istio: istio-ingressgateway
      annotations: {}
      labels: {}
    virtualService:
      annotations: {}
      labels: {}

  # The path should end with a "/"
  repositoryPrefix: /repository/
  tls:
    # The source of the tls certificate. Set as "certmanager", "secret"
    # or "none" and fill the information in the corresponding section
    # 1) certmanager: generate the tls certificate automatically over CertManager
    # 2) secret: read the tls certificate from the specified secret.
    # The tls certificate can be generated manually or by cert manager
    # 3) none: configure no tls certificate for the ingress. If the default
    # tls certificate is configured in the ingress controller, choose this option
    certSource: none
    certmanager:
      # existingIssuer
      # if you want to use an existing issuer, you must specify:
      # kind (Issuer or ClusterIssuer) and name
      existingIssuer:
        kind: Issuer
        name: ""
      dnsNames: []
      ipAddresses: []
    secret:
      # The name of secret which contains keys named:
      # "tls.crt" - the certificate
      # "tls.key" - the private key
      secretName: ""

default:
  replicaCount: 1

  updateStrategy: {}
    # type: RollingUpdate
    # rollingUpdate:
    #   maxSurge: 1
    #   maxUnavailable: 0

  podAnnotations: {}
  podLabels: {}

  serviceAccount:
    create: false
    name: ""
    annotations: {}

  image:
    repository: registry
    tag: 3.0.0
    pullPolicy: IfNotPresent
  # imagePullSecrets:
      # - name: docker
  deployment: {}
    # annotations:
  service:
    name: registry
    type: ClusterIP
    # sessionAffinity: None
    # sessionAffinityConfig: {}
    # clusterIP:
    port: 5000
    # nodePort:
    # loadBalancerIP:
    # loadBalancerSourceRanges:
    annotations: {}
    # foo.io/bar: "true"
    labels: {}
    # foo.io/baz: "false"

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  metrics:
    enabled: false
    port: 5001

  containerSecurityContext:
    enabled: true
    seLinuxOptions: {}
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    readOnlyRootFilesystem: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    enabled: true
    fsGroupChangePolicy: Always
    sysctls: []
    supplementalGroups: []
    runAsUser: 1000
    fsGroup: 1000

  priorityClassName: ""

  nodeSelector: {}

  affinity: {}

  tolerations: []

  extraEnvVars:
    - name: OTEL_TRACES_EXPORTER
      value: none

  persistence:
    # enable if storage type is filesystem
    enabled: false
    accessMode: 'ReadWriteOnce'
    size: 10Gi
    # storageClass: '-'

    garbageCollect:
      enabled: false
      deleteUntagged: true
      schedule: "0 1 * * *"
      podAnnotations: {}
      podLabels: {}
      resources: {}
      # We usually recommend not to specify default resources and to leave this as a conscious
      # choice for the user. This also increases chances charts run on environments with little
      # resources, such as Minikube. If you do want to specify resources, uncomment the following
      # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
      # limits:
      #   cpu: 100m
      #   memory: 128Mi
      # requests:
      #   cpu: 100m
      #   memory: 128Mi

  # Config docs: https://distribution.github.io/distribution/about/configuration/#storage
  config:
    storage:
      # Available storage types: filesystem, azure, gcs, s3, inmemory
      type: filesystem
      filesystem:
        rootdirectory: /var/lib/registry
        maxthreads: 100
      azure:
        accountname: accountname
        accountkey: base64encodedaccountkey
        container: containername
        rootdirectory: /az/object/name/prefix
        credentials:
          type: client_secret
          clientid: client_id_string
          tenantid: tenant_id_string
          secret: secret_string
        max_retries: 10
        retry_delay: 100ms
      gcs:
        bucket: bucketname
        keyfile: /path/to/keyfile
        credentials:
          type: service_account
          project_id: project_id_string
          private_key_id: private_key_id_string
          private_key: private_key_string
          client_email: client@example.com
          client_id: client_id_string
          auth_uri: http://example.com/auth_uri
          token_uri: http://example.com/token_uri
          auth_provider_x509_cert_url: http://example.com/provider_cert_url
          client_x509_cert_url: http://example.com/client_cert_url
        rootdirectory: /gcs/object/name/prefix
        chunksize: 5242880
      s3:
        accesskey: awsaccesskey
        secretkey: awssecretkey
        region: us-west-1
        regionendpoint: http://myobjects.local
        forcepathstyle: true
        accelerate: false
        bucket: bucketname
        encrypt: true
        keyid: mykeyid
        secure: true
        v4auth: true
        chunksize: 5242880
        multipartcopychunksize: 33554432
        multipartcopymaxconcurrency: 100
        multipartcopythresholdsize: 33554432
        rootdirectory: /s3/object/name/prefix
        usedualstack: false
        loglevel: debug
      inmemory:  # This driver takes no parameters
      tag:
        concurrencylimit: 8
      delete:
        enabled: false
      redirect:
        disable: false
      cache:
        blobdescriptor: inmemory
        blobdescriptorsize: 10000
      maintenance:
        uploadpurging:
          enabled: true
          age: 168h
          interval: 24h
          dryrun: false
        readonly:
          enabled: false

    log:
      accesslog: true
      level: debug
      formatter: json # json or text

proxies:
  dockerhub:
    enabled: true
    replicaCount: 1

    updateStrategy: {}
      # type: RollingUpdate
      # rollingUpdate:
      #   maxSurge: 1
      #   maxUnavailable: 0

    podAnnotations: {}
    podLabels: {}

    serviceAccount:
      create: false
      name: ""
      annotations: {}

    image:
      repository: registry
      tag: 3.0.0
      pullPolicy: IfNotPresent
    # imagePullSecrets:
        # - name: docker
    deployment: {}
      # annotations:
    service:
      name: registry
      type: ClusterIP
      # sessionAffinity: None
      # sessionAffinityConfig: {}
      # clusterIP:
      port: 5000
      # nodePort:
      # loadBalancerIP:
      # loadBalancerSourceRanges:
      annotations: {}
      # foo.io/bar: "true"
      labels: {}
      # foo.io/baz: "false"

    resources: {}
      # We usually recommend not to specify default resources and to leave this as a conscious
      # choice for the user. This also increases chances charts run on environments with little
      # resources, such as Minikube. If you do want to specify resources, uncomment the following
      # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
      # limits:
      #   cpu: 100m
      #   memory: 128Mi
      # requests:
      #   cpu: 100m
      #   memory: 128Mi

    metrics:
      enabled: false
      port: 5001

    containerSecurityContext:
      enabled: true
      seLinuxOptions: {}
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsUser: 1000
      runAsGroup: 1000
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault

    securityContext:
      enabled: true
      fsGroupChangePolicy: Always
      sysctls: []
      supplementalGroups: []
      runAsUser: 1000
      fsGroup: 1000

    priorityClassName: ""

    podDisruptionBudget: {}
      # maxUnavailable: 1
      # minAvailable: 2

    autoscaling:
      enabled: false
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 60
      targetMemoryUtilizationPercentage: 60
      behavior: {}
    #   scaleDown:
    #     stabilizationWindowSeconds: 300
    #     policies:
    #     - type: Percent
    #       value: 100
    #       periodSeconds: 15
    #   scaleUp:
    #     stabilizationWindowSeconds: 0
    #     policies:
    #     - type: Percent
    #       value: 100
    #       periodSeconds: 15
    #     - type: Pods
    #       value: 4
    #       periodSeconds: 15
    #     selectPolicy: Max

    nodeSelector: {}

    affinity: {}

    tolerations: []

    extraVolumeMounts: []
    ## Additional volumeMounts to the registry container.
    #  - mountPath: /secret-data
    #    name: cloudfront-pem-secret
    #    readOnly: true

    extraVolumes: []
    ## Additional volumes to the pod.
    #  - name: cloudfront-pem-secret
    #    secret:
    #      secretName: cloudfront-credentials
    #      items:
    #        - key: cloudfront.pem
    #          path: cloudfront.pem
    #          mode: 511

    extraEnvVars: []
    ## Additional ENV variables to set
    # - name: REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY
    #   value: "/var/lib/example"

    initContainers: []
    ## Init containers to add to the Deployment
    # - name: init
    #   image: busybox
    #   command: []

    persistence:
      # enable if storage type is filesystem
      enabled: false
      accessMode: 'ReadWriteOnce'
      size: 10Gi
      # storageClass: '-'
      # existingClaim: ""

    garbageCollect:
      enabled: false
      deleteUntagged: true
      schedule: "0 1 * * *"
      podAnnotations: {}
      podLabels: {}
      resources: {}
      # We usually recommend not to specify default resources and to leave this as a conscious
      # choice for the user. This also increases chances charts run on environments with little
      # resources, such as Minikube. If you do want to specify resources, uncomment the following
      # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
      # limits:
      #   cpu: 100m
      #   memory: 128Mi
      # requests:
      #   cpu: 100m
      #   memory: 128Mi

    # Config docs: https://distribution.github.io/distribution/about/configuration/#storage
    config:
      storage:
        # Available storage types: filesystem, azure, gcs, s3, inmemory
        type: filesystem
        filesystem:
          rootdirectory: /var/lib/registry
          maxthreads: 100
        azure:
          accountname: accountname
          accountkey: base64encodedaccountkey
          container: containername
          rootdirectory: /az/object/name/prefix
          credentials:
            type: client_secret
            clientid: client_id_string
            tenantid: tenant_id_string
            secret: secret_string
          max_retries: 10
          retry_delay: 100ms
        gcs:
          bucket: bucketname
          keyfile: /path/to/keyfile
          credentials:
            type: service_account
            project_id: project_id_string
            private_key_id: private_key_id_string
            private_key: private_key_string
            client_email: client@example.com
            client_id: client_id_string
            auth_uri: http://example.com/auth_uri
            token_uri: http://example.com/token_uri
            auth_provider_x509_cert_url: http://example.com/provider_cert_url
            client_x509_cert_url: http://example.com/client_cert_url
          rootdirectory: /gcs/object/name/prefix
          chunksize: 5242880
        s3:
          accesskey: awsaccesskey
          secretkey: awssecretkey
          region: us-west-1
          regionendpoint: http://myobjects.local
          forcepathstyle: true
          accelerate: false
          bucket: bucketname
          encrypt: true
          keyid: mykeyid
          secure: true
          v4auth: true
          chunksize: 5242880
          multipartcopychunksize: 33554432
          multipartcopymaxconcurrency: 100
          multipartcopythresholdsize: 33554432
          rootdirectory: /s3/object/name/prefix
          usedualstack: false
          loglevel: debug
        inmemory:  # This driver takes no parameters
        tag:
          concurrencylimit: 8
        delete:
          enabled: false
        redirect:
          disable: false
        cache:
          blobdescriptor: inmemory
          blobdescriptorsize: 10000
        maintenance:
          uploadpurging:
            enabled: true
            age: 168h
            interval: 24h
            dryrun: false
          readonly:
            enabled: false

      log:
        accesslog: true
        level: debug
        formatter: json # json or text

      # auth:
      #   silly:
      #     realm: silly-realm
      #     service: silly-service
      #   token:
      #     autoredirect: true
      #     realm: token-realm
      #     service: token-service
      #     issuer: registry-token-issuer
      #     rootcertbundle: /root/certs/bundle
      #     jwks: /path/to/jwks
      #     signingalgorithms:
      #         - EdDSA
      #         - HS256
      #   htpasswd:
      #     realm: basic-realm
      #     path: /path/to/htpasswd

      # middleware:
      #   registry:
      #     - name: ARegistryMiddleware
      #       options:
      #         foo: bar
      #   repository:
      #     - name: ARepositoryMiddleware
      #       options:
      #         foo: bar
      #   storage:
      #     - name: cloudfront
      #       options:
      #         baseurl: https://my.cloudfronted.domain.com/
      #         privatekey: /path/to/pem
      #         keypairid: cloudfrontkeypairid
      #         duration: 3000s
      #         ipfilteredby: awsregion
      #         awsregion: us-east-1, use-east-2
      #         updatefrequency: 12h
      #         iprangesurl: https://ip-ranges.amazonaws.com/ip-ranges.json
      #   storage:
      #     - name: redirect
      #       options:
      #         baseurl: https://example.com/

      http:
        # addr: localhost:5000
        # prefix: /my/nested/registry/
        # host: https://myregistryaddress.org:5000
        # secret: asecretforlocaldevelopment
        # relativeurls: false
        # draintimeout: 60s
        # tls:
        #   certificate: /path/to/x509/public
        #   key: /path/to/x509/private
        #   clientcas:
        #     - /path/to/ca.pem
        #     - /path/to/another/ca.pem
        #   clientauth: require-and-verify-client-cert
        #   letsencrypt:
        #     cachefile: /path/to/cache-file
        #     email: emailused@letsencrypt.com
        #     hosts: myregistryaddress.org
        #     directoryurl: https://acme-v02.api.letsencrypt.org/directory
        # headers:
        #   X-Content-Type-Options: nosniff
        http2:
          disabled: false
        h2c:
          enabled: false

      # redis:
      #   tls:
      #     certificate: /path/to/cert.crt
      #     key: /path/to/key.pem
      #     rootcas:
      #       - /path/to/ca.pem
      #   addrs: localhost:6379
      #   password: asecret
      #   db: 0
      #   dialtimeout: 10ms
      #   readtimeout: 10ms
      #   writetimeout: 10ms
      #   maxidleconns: 16
      #   poolsize: 64
      #   connmaxidletime: 300s
      #   tls:
      #     enabled: false

      health:
        storagedriver:
          enabled: true
          interval: 10s
          threshold: 3
        # file:
        #   - file: /path/to/checked/file
        #     interval: 10s
        # http:
        #   - uri: http://server.to.check/must/return/200
        #     headers:
        #       Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==
        #     statuscode: 200
        #     timeout: 3s
        #     interval: 10s
        #     threshold: 3
        # tcp:
        #   - addr: redis-server.domain.com:6379
        #     timeout: 3s
        #     interval: 10s
        #     threshold: 3

      # https://docs.docker.com/registry/recipes/mirror/
      proxy:
        remoteurl: https://registry-1.docker.io
        # username: ""
        # password: ""
        # exec:
        #   command: docker-credential-helper
        #   lifetime: 1h
        # ttl: 168h

      # validation:
      #   manifests:
      #     urls:
      #       allow:
      #         - ^https?://([^/]+\.)*example\.com/
      #       deny:
      #         - ^https?://www\.example\.com/
      #     indexes:
      #       platforms: List
      #       platformlist:
      #       - architecture: amd64
      #         os: linux
